.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    border-radius: 6px;
    transition: var(--transition);
}

.btn-black{
    background: linear-gradient(-145deg, #1e2024, #23272b);
    color: var(--color-primary);
    box-shadow: var(--shadow-1);
}

.btn:hover{
    transform: translateY(-5px);
}

.btn-black:hover{ 
    background: linear-gradient(145deg, #1e2024, #23272b);
}