.btn{
    display: inline-block;
    padding: 1.5rem 3.5rem;
    font-size: 1.4rem;
    transition: var(--transition);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.btn-white{
    background: var(--gradient-box-w);
    background-size: 100%;
    color: var(--color-primary);
}


.btn:hover{
    background: var(--gradient-red-hover);
    background-size: 100%;
    transform: translateY(-4px);
    color: var(--color-white);
}