.team {
    width: 100%;
    height: auto;
    color: var(--color-lightn);
    padding: 5rem 0 0;
}


.team__wrapper {
    border-bottom: 2px solid var(--color-tertiary);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 10rem;
}



.skiils {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 2rem;
    row-gap: 5rem;
    justify-content: space-between;
}

.skill {
    height: auto;
    background-color: var(--background-color-1);
    border-radius: 6px;
    box-shadow: var(--shadow-1);
    padding: 5rem ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    transition: var(--transition);
}


.skill h3{
    font-size: 2.5rem;
    font-weight: lighter;
}

.skill p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
}

.skill svg {
    width: 5rem;
    height: 5rem;
    color: var(--color-primary);
    stroke-width: 1 !important;
}

.skill:hover{
    transform: translateY(-1rem);
}